@use "./media-queries" as *;

h1,
h2,
h3
{font-size: 24px;
  font-weight: 700;
  line-height: 32px;

  @include tablet{
    font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  }
}

h4{
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    
    @include tablet{
      font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    }
  }
  p{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  
    @include tablet{
      font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    }
  }
body {
    font-family: "Avenir";
  }