@use "./media-queries" as *;

//   "Avenir Next" regular
@font-face {
  font-family: "Avenir Next";
  src: url("./../../assets/Font/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
//   "Avenir Next" demi
@font-face{
  font-family: "Avenir Next";
  src: url("./../../assets/Font/AvenirNextLTPro-Demi.otf") format("otf");
  font-weight:500;
  font-style: normal;
}
//   "Avenir Next" bold
@font-face{
  font-family: "Avenir Next";
  src: url("./../../assets/Font/AvenirNextLTPro-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Avenir Next";
}

h1,
h2,
h3
{font-size: 24px;
  font-weight: 600;
  line-height: 32px;

  @include tablet{
    font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  }
}

h4{
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    
    @include tablet{
      font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    }
  }
  p{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  
    @include tablet{
      font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    }
  }
