@use "./media-queries" as *;
@use "./global" ;
// hero image
.hero{
    height: 40vh;
    background-image: url("./../../assets/Images/hero-shows.jpg");
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(49, 44, 44, 0.369);
    }
  @include tablet{
    height: 70vh;
  }
  @include desktop{
    height: 90vh;
  }

&-text{
    position: relative;
    margin: 0%;
    text-align: left;
    padding-left: 16px;
    top: 30px;
    font-weight: 500;

    @include tablet{
        font-size: 24px;
        top: 10%;
        left: 20px;
    }
    @include desktop {
        top: 32%;
        padding-left: 48px;
    }
}

&-title{
    
    position: relative;
    width: 70vw;
    text-align: left;
    padding-left: 16px;
    top: 30px;

    @include tablet{
        font-size: 60px;
        line-height: 68px;
        top: 5%;
        left: 20px;
        width: 70vw;
    }
    @include desktop{
        width: 39vw;
        font-weight:500 ;
        top: 30%;
        padding-left: 48px;
    }
}
}
// song from SoundCloud
iframe{
    height: 100px;
    width: 90%;
    position: relative;
    top: 10%;
    border-radius: 5px;
        @include tablet{
            height: 120px;
            width: 40%;
            top: 5%;
            right: 11.875rem;
        }
        @include desktop{
            height: 170px;
            width: 40%;
            top:-5%;
            left: 20%;
        }
}