.nav {
  background-color: #323232;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
}
.nav-logo {
  display: block;
  margin: auto;
  width: 50%;
  max-width: 120px;
  height: auto;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .nav-logo {
    width: 100%;
    max-width: 120px;
    height: auto;
    padding: 16px 16px 18px 36px;
  }
}
@media (min-width: 1280px) {
  .nav-logo {
    width: 100%;
    max-width: 120px;
    height: auto;
    padding: 16px 16px 18px 36px;
    margin-left: 30%;
  }
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0%;
  padding: 0%;
}
.nav-list-link {
  color: #afafaf;
  text-decoration: none;
}
.nav-list-link:hover, .nav-list-link:active {
  color: #ffffff;
  font-weight: 700;
}
.nav-list-item {
  width: 100%;
  padding: 0% 0% 5% 17%;
}
.nav-list-item:hover, .nav-list-item:active {
  border-bottom: 3px solid #ffffff;
}
@media (min-width: 768px) {
  .nav-list-item:hover, .nav-list-item:active {
    border-bottom: 3px solid #ffffff;
  }
}
@media (min-width: 768px) {
  .nav-list-item {
    margin-left: 40%;
    padding: 0% 0% 19% 0%;
    display: flex;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .nav-list-item {
    margin-left: 50%;
  }
}
@media (min-width: 768px) {
  .nav-list {
    display: flex;
    justify-content: flex-start;
  }
}

body {
  margin: 0%;
}

* {
  box-sizing: border-box;
}

.hero {
  height: 30vh;
  background-image: url("./../../assets/Images/hero-bio.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.hero:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .hero {
    height: 50vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 90vh;
  }
}
.hero-text {
  margin: 0%;
  position: relative;
  top: 45%;
  right: 15%;
  font-weight: 600;
  font-size: 24px;
}
@media (min-width: 768px) {
  .hero-text {
    font-size: 60px;
    top: 55%;
    right: 17%;
  }
}
@media (min-width: 1280px) {
  .hero-text {
    right: 25%;
  }
}

.description-title {
  color: #323232;
  margin: 0%;
  padding: 24px 0px 0px 16px;
}
@media (min-width: 768px) {
  .description-title {
    padding: 48px 0px 0px 36px;
  }
}
@media (min-width: 1280px) {
  .description-title {
    margin: 0% 0% 2% 10%;
  }
}

.description-image {
  margin: 0% 5% 0% 5%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding: 16px 0px 16px 0px;
  width: 90%;
}
@media (min-width: 768px) {
  .description-image {
    width: 80%;
    margin: 0% 0% 2% 10%;
  }
}
@media (min-width: 1280px) {
  .description-image {
    width: 70%;
    height: 80vh;
    margin-left: 15%;
    padding-top: 24px;
  }
}

.description-quote,
.description-text,
.description-quote2,
.description-text-title {
  padding: 0px 16px 0px 16px;
}
@media (min-width: 768px) {
  .description-quote,
  .description-text,
  .description-quote2,
  .description-text-title {
    padding: 0% 10% 0% 10%;
    margin: 0% 4% 0% 0%;
  }
}
@media (min-width: 1280px) {
  .description-quote,
  .description-text,
  .description-quote2,
  .description-text-title {
    padding: 0% 20% 0% 15%;
  }
}

@media (min-width: 1280px) {
  .description-text {
    padding: 0% 5% 0% 10%;
    margin-right: 10%;
  }
}

.description-quote2 {
  color: #323232;
}
@media (min-width: 768px) {
  .description-quote2 {
    padding-bottom: 36px;
  }
}

@media (min-width: 768px) {
  .columns-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 36px 0px 36px;
  }
}
@media (min-width: 1280px) {
  .columns-container {
    padding: 0% 5% 0% 12%;
  }
}

@media (min-width: 768px) {
  .first-column, .second-column {
    width: 55%;
    margin-right: -10%;
  }
}
@media (min-width: 1280px) {
  .first-column, .second-column {
    margin-left: -2%;
  }
}

.photo-gallery {
  background-color: #FAFAFA;
}
.photo-gallery-title {
  padding-top: 24px;
  color: #323232;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .photo-gallery-title {
    padding-left: 36px;
  }
}
@media (min-width: 1280px) {
  .photo-gallery-title {
    margin-left: 7%;
  }
}
.photo-gallery-img {
  margin: 0% 5% 0% 5%;
  padding-bottom: 16px;
  width: 90%;
}
@media (min-width: 768px) {
  .photo-gallery-img {
    width: 32%;
    margin: 0%;
    padding-right: 16px;
  }
}
@media (min-width: 768px) {
  .photo-gallery-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 36px;
  }
}
@media (min-width: 1280px) {
  .photo-gallery-container {
    margin: 0% 5% 0% 5%;
  }
}

@media (min-width: 768px) {
  .photos-column-one,
  .photos-column-two,
  .photos-column-three {
    width: 100%;
    padding-left: 36px;
  }
}
@media (min-width: 1280px) {
  .photos-column-one,
  .photos-column-two,
  .photos-column-three {
    padding: 0% 5% 0% 10%;
  }
}

.footer {
  background-color: #323232;
  padding-left: 16px;
  position: relative;
}

.footer-title {
  padding-top: 16px;
}
@media (min-width: 768px) {
  .footer-title {
    padding-left: 24px;
  }
}
@media (min-width: 1280px) {
  .footer-title {
    padding-left: 6%;
  }
}

@media (min-width: 768px) {
  .footer-container {
    display: flex;
    padding-left: 24px;
  }
}
@media (min-width: 1280px) {
  .footer-container {
    padding-left: 6%;
  }
}

@media (min-width: 768px) {
  .footer-contacts {
    width: 30%;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .footer-contacts {
    width: 23%;
  }
}

@media (min-width: 768px) {
  .footer-top {
    display: flex;
    padding-top: 16px;
  }
}
@media (min-width: 1280px) {
  .footer-top {
    padding-top: 30px;
  }
}

@media (min-width: 768px) {
  .footer-contact {
    margin-top: 0%;
  }
}

.footer-contact,
.footer-location {
  margin-bottom: 0%;
}

.footer-workplace,
.footer-location,
.footer-title {
  margin-top: 0%;
}

.footer-copyright {
  margin-bottom: 0%;
  font-size: 10px;
  padding-bottom: 16px;
}

.footer-contact,
.footer-workplace,
.footer-location,
.footer-email,
.footer.contacts,
.footer-title,
.footer-copyright {
  color: white;
}

.footer-low {
  padding-top: 24px;
}

.footer-social {
  padding-right: 24px;
}

@media (min-width: 768px) {
  .footer-socials {
    margin: 30px 0px 0px 20px;
  }
}
@media (min-width: 1280px) {
  .footer-socials {
    margin-top: 2.3%;
  }
}

@media (min-width: 768px) {
  .footer-logo {
    position: absolute;
    margin-top: -245px;
    margin-left: 75%;
  }
}
@media (min-width: 1280px) {
  .footer-logo {
    margin-top: -245px;
    margin-left: 75%;
  }
}

@media (min-width: 768px) {
  .footer-copyright {
    margin-left: 24px;
  }
}
@media (min-width: 1280px) {
  .footer-copyright {
    margin-left: 6%;
  }
}

@font-face {
  font-family: "Avenir Next";
  src: url("./../../assets/Font/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("./../../assets/Font/AvenirNextLTPro-Demi.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("./../../assets/Font/AvenirNextLTPro-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Avenir Next";
}

h1,
h2,
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
@media (min-width: 768px) {
  h1,
  h2,
  h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
  }
}

h4 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
}
@media (min-width: 768px) {
  h4 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }
}

p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}

.comments-title {
  margin-top: 0%;
  color: #323232;
}
@media (min-width: 768px) {
  .comments-title {
    margin-top: 2%;
  }
}
@media (min-width: 1280px) {
  .comments-title {
    padding-left: 48px;
  }
}

.comments-img__container {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  overflow: hidden;
  margin-top: 25px;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .comments-img__container {
    height: 50px;
    width: 50px;
  }
}

.comments-img {
  height: 40px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .comments-img {
    height: 55px;
    width: 60px;
  }
}

.comments-form {
  display: flex;
  flex-direction: column;
}
.comments-container {
  display: flex;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .comments-container {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 1280px) {
  .comments-container {
    margin-left: 25%;
    margin-right: 33%;
  }
}

.comments {
  padding: 16px;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .comments {
    padding-left: 48px;
    padding-right: 50px;
  }
}

label {
  color: #AFAFAF;
  margin: 4px 0px 4px 0px;
}

#userName, #userComment {
  background-color: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  width: 100%;
  height: 36px;
  margin-bottom: 5%;
}
#userName:active, #userComment:active {
  border-color: #323232;
}
@media (min-width: 768px) {
  #userName, #userComment {
    width: 60vw;
    height: 48px;
  }
}
@media (min-width: 1280px) {
  #userName, #userComment {
    width: 30vw;
    height: 48px;
  }
}

#userComment {
  position: relative;
  height: 72px;
}
#userComment::-moz-placeholder {
  position: absolute;
  top: 10px;
}
#userComment::placeholder {
  position: absolute;
  top: 10px;
}

::-moz-placeholder {
  color: black;
  padding-left: 4%;
}

::placeholder {
  color: black;
  padding-left: 4%;
}

.comments-form__button {
  background-color: #323232;
  color: white;
  height: 40px;
  min-width: 150px;
  border-radius: 4px;
  border: 0;
  width: 100%;
  margin: 0.5rem 0rem 0.8rem 0rem;
}
.comments-form__button:hover {
  background-color: #000000;
}
@media (min-width: 768px) {
  .comments-form__button:last-child {
    width: 30%;
    align-self: flex-end;
  }
}
@media (min-width: 1280px) {
  .comments-form__button:last-child {
    align-self: flex-end;
  }
}

.previous-comment {
  position: relative;
  border-bottom: 1px solid #E1E1E1;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .previous-comment {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 1280px) {
  .previous-comment {
    margin-left: 25%;
    margin-right: 33%;
  }
}
.previous-comment__date {
  position: absolute;
  top: 3px;
  left: 70%;
  color: #E1E1E1;
}
@media (min-width: 768px) {
  .previous-comment__date {
    margin-left: 5%;
  }
}
.previous-comment__description {
  padding-left: 40px;
}
@media (min-width: 768px) {
  .previous-comment__description {
    padding-left: 55px;
    margin-top: -10px;
  }
}

.previous-comment__content {
  position: absolute;
}

.previous-comment__name {
  position: absolute;
  margin-top: 13px;
  margin-left: 40px;
  margin-bottom: 0px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .previous-comment__name {
    margin-left: 55px;
  }
}

.previous-comment__pic {
  position: relative;
  top: 13px;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background-color: #E1E1E1;
}
@media (min-width: 768px) {
  .previous-comment__pic {
    height: 50px;
    width: 50px;
  }
}

.description-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
@media (min-width: 768px) {
  .description-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
  }
}

.description-quote,
.description-text-title {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .description-quote,
  .description-text-title {
    font-size: 24px;
    line-height: 32px;
  }
}

.description-quote2,
.footer-name,
.footer-workplace {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .description-quote2,
  .footer-name,
  .footer-workplace {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }
}

.nav-list-link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .nav-list-link {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}/*# sourceMappingURL=bio.css.map */